[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    venv,
    migrations,
    .pytest_cache
extend-ignore = E203, W503
per-file-ignores =
    app/models/*.py: F401
    app/resources/*.py: F401
    run.py: F403, F405